@model ZSZ.AdminWeb.Models.LongAdminUserAddViewModel

@{
    ViewBag.Title = "LongAddAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="formAdd">
    <table>
        <tr>
            <td>手机号：</td>
            <td><input type="text" name="PhoneNum" id="phoneNum" /></td>
        </tr>
        <tr>
            <td><div class="col-xs-12 col-sm-3">姓名： </div></td>
            <td> <div class="formControls col-5"><input type="text" class="input-text" name="name" datatype="*1-50" nullmsg="姓名不能为空" /> </div></td>
            <td><div class="col-4"> </div></td>
        </tr>
        <tr>
            <td> 密码：</td>
            <td><input type="text" name="password" /></td>
        </tr>
        <tr>
            <td> 确认密码：</td>
            <td><input type="text" name="password2" /></td>
        </tr>
        <tr>
            <td> 邮箱：</td>
            <td><input type="text" name="email" /></td>
        </tr>
        <tr>
            <td> 城市：</td>
            <td>
                <select name="cityId">
                    <option value="" selected>总部</option>
                    @foreach (CityDTO city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
            }
                </select>
            </td>
        </tr>
        <tr>
            <td> 角色：</td>
            <td>
                @foreach (var role in Model.Roles)
            {
                <div class="col-xs-12 col-sm-3">
                    <input type="checkbox" id="RoleIds_@role.Id" name="roleIds" value="@role.Id" />
                    <label for="RoleIds_@role.Id">@role.Name</label>
                </div>
        }

            </td>
        </tr>



    </table>

    <input type="button" value="保存" id="btnSave" />
</form>

@section FooterScript
{
    <script type="text/javascript">
        //注意取数据的位置
        //var formData = $("#formAdd").serializeArray();
        var saveAjax = function () {
            /*
            var name = $("#name").val();
            var description = $("#description").val();*/
            var formData = $("#formAdd").serializeArray();
            $.ajax({
                url: "/LongAdminUser/Add",
                type: "post",
                data: formData,
                dataType: "json",
                success: function (res) {
                    if (res.status == "ok") {
                        //alert("ok");
                        parent.location.reload();//刷新父窗口
                    }
                    else {
                        alert("error:" + res.errorMsg);
                    }
                },
                error: function () { alert("请求出错"); }
            });
        };
        $(function () {
            var validForm = $("#formAdd").Validform({ tiptype: 2 });
            $("#btnSave").click(function () {
                if (validForm.check(false)) {
                    saveAjax();
                }
            });
            //焦点离开的时候检查手机号的合法性（是否存在）
            $("#phoneNum").blur(function () {
                var phoneNum = $(this).val();
                if (phoneNum.length <= 0) return;
                $.ajax({
                    url: "/AdminUser/CheckPhoneNum", dataType: "json", type: "post",
                    data: { phoneNum: phoneNum },
                    success: function (res) {
                        if (res.status == "exists") {
                            layer.msg('这个手机号已经被其他人使用了!', { icon: 2, time: 2000 });
                        }
                    },
                    error: function () {
                        alert("网络通讯错误");
                    }
                });
            });
        });
    </script>
}