USE [master]
GO
/****** Object:  Database [zhangshangzu]    Script Date: 9/30/2018 4:56:41 PM ******/
CREATE DATABASE [zhangshangzu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zhangshangzu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\zhangshangzu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'zhangshangzu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\zhangshangzu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [zhangshangzu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [zhangshangzu]
GO
USE [zhangshangzu]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/30/2018 4:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_AdminLogs]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_AdminLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AdminUserId] [bigint] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_AdminLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_AdminUserRoles]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_AdminUserRoles](
	[AdminUserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.T_AdminUserRoles] PRIMARY KEY CLUSTERED 
(
	[AdminUserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_AdminUsers]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_AdminUsers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PhoneNum] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](100) NOT NULL,
	[PasswordSalt] [varchar](20) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[CityId] [bigint] NULL,
	[LoginErrorTimes] [int] NOT NULL,
	[LastLoginErrorDateTime] [datetime] NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_AdminUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Attachments]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Attachments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IconName] [varchar](50) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Cities]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Cities](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Communities]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Communities](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[RegionId] [bigint] NOT NULL,
	[Location] [nvarchar](1024) NOT NULL,
	[Traffic] [nvarchar](max) NULL,
	[BuiltYear] [int] NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Communities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Girls]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Girls](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[BF] [varchar](50) NULL,
	[rowver] [timestamp] NULL,
 CONSTRAINT [PK_T_Girls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_HouseAppointments]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HouseAppointments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[Name] [nvarchar](20) NOT NULL,
	[PhoneNum] [varchar](20) NOT NULL,
	[VisitDate] [datetime] NOT NULL,
	[HouseId] [bigint] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[FollowAdminUserId] [bigint] NULL,
	[FollowDateTime] [datetime] NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_HouseAppointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_HouseAttachments]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HouseAttachments](
	[AttachmentId] [bigint] NOT NULL,
	[HouseId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.T_HouseAttachments] PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC,
	[HouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_HousePics]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HousePics](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[HouseId] [bigint] NOT NULL,
	[Url] [nvarchar](1024) NOT NULL,
	[ThumbUrl] [nvarchar](1024) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_HousePics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Houses]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Houses](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CommunityId] [bigint] NOT NULL,
	[RoomTypeId] [bigint] NOT NULL,
	[Address] [nvarchar](128) NOT NULL,
	[MonthRent] [int] NOT NULL,
	[StatusId] [bigint] NOT NULL,
	[Area] [decimal](18, 2) NOT NULL,
	[DecorateStatusId] [bigint] NOT NULL,
	[TotalFloorCount] [int] NOT NULL,
	[FloorIndex] [int] NOT NULL,
	[TypeId] [bigint] NOT NULL,
	[Direction] [nvarchar](20) NOT NULL,
	[LookableDateTime] [datetime] NOT NULL,
	[CheckInDateTime] [datetime] NOT NULL,
	[OwnerName] [nvarchar](20) NOT NULL,
	[OwnerPhoneNum] [varchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Houses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_IdNames]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_IdNames](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](1024) NOT NULL,
	[Name] [nvarchar](1024) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_IdNames] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Permissions]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Permissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](1024) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Regions]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Regions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CityId] [bigint] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_RolePermissions]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RolePermissions](
	[RoleId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.T_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Roles]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Settings]    Script Date: 9/30/2018 4:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Settings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1024) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Users]    Script Date: 9/30/2018 4:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PhoneNum] [varchar](20) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[PasswordSalt] [nvarchar](20) NOT NULL,
	[LoginErrorTimes] [int] NOT NULL,
	[LastLoginErrorDateTime] [datetime] NULL,
	[CityId] [bigint] NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.T_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[T_AdminUserRoles] ([AdminUserId], [RoleId]) VALUES (3, 1)
INSERT [dbo].[T_AdminUserRoles] ([AdminUserId], [RoleId]) VALUES (12, 1)
INSERT [dbo].[T_AdminUserRoles] ([AdminUserId], [RoleId]) VALUES (5, 2)
SET IDENTITY_INSERT [dbo].[T_AdminUsers] ON 

INSERT [dbo].[T_AdminUsers] ([Id], [Name], [PhoneNum], [PasswordHash], [PasswordSalt], [Email], [CityId], [LoginErrorTimes], [LastLoginErrorDateTime], [CreateDateTime], [IsDeleted]) VALUES (1, N'abc', N'189181', N'33F898DE0872F0E24BEF2863D22D86D7', N'fdffx', N'123@qq.com', NULL, 0, NULL, CAST(N'2018-06-14T17:54:19.090' AS DateTime), 1)
INSERT [dbo].[T_AdminUsers] ([Id], [Name], [PhoneNum], [PasswordHash], [PasswordSalt], [Email], [CityId], [LoginErrorTimes], [LastLoginErrorDateTime], [CreateDateTime], [IsDeleted]) VALUES (2, N'abc', N'189181', N'7E3BDF38DD123475D2E35D611DB27743', N'kyhyn', N'123@qq.com', NULL, 0, NULL, CAST(N'2018-06-15T21:29:55.480' AS DateTime), 1)
INSERT [dbo].[T_AdminUsers] ([Id], [Name], [PhoneNum], [PasswordHash], [PasswordSalt], [Email], [CityId], [LoginErrorTimes], [LastLoginErrorDateTime], [CreateDateTime], [IsDeleted]) VALUES (3, N'aaa', N'139139', N'779B6B09E2E2941E39B057F4B15DEAC6', N'nkchf', N'123@qq.com', NULL, 0, NULL, CAST(N'2018-06-15T21:30:02.307' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[T_AdminUsers] OFF
SET IDENTITY_INSERT [dbo].[T_Attachments] ON 

INSERT [dbo].[T_Attachments] ([Id], [Name], [IconName], [CreateDateTime], [IsDeleted]) VALUES (1, N'床', N'bed', CAST(N'2018-07-13T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[T_Attachments] ([Id], [Name], [IconName], [CreateDateTime], [IsDeleted]) VALUES (2, N'书桌', N'desk', CAST(N'2018-07-13T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Attachments] OFF
SET IDENTITY_INSERT [dbo].[T_Cities] ON 

INSERT [dbo].[T_Cities] ([Id], [Name], [CreateDateTime], [IsDeleted]) VALUES (1, N'北京', CAST(N'2018-06-15T21:31:21.243' AS DateTime), 0)
INSERT [dbo].[T_Cities] ([Id], [Name], [CreateDateTime], [IsDeleted]) VALUES (2, N'秦皇岛', CAST(N'2018-06-16T17:39:03.897' AS DateTime), 0)
INSERT [dbo].[T_Cities] ([Id], [Name], [CreateDateTime], [IsDeleted]) VALUES (3, N'天津', CAST(N'2018-06-16T17:40:26.277' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Cities] OFF
SET IDENTITY_INSERT [dbo].[T_Communities] ON 

INSERT [dbo].[T_Communities] ([Id], [Name], [RegionId], [Location], [Traffic], [BuiltYear], [CreateDateTime], [IsDeleted]) VALUES (1, N'望京花园东区', 1, N'利泽东街', N'十四号线东段', 5, CAST(N'2018-07-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[T_Communities] ([Id], [Name], [RegionId], [Location], [Traffic], [BuiltYear], [CreateDateTime], [IsDeleted]) VALUES (3, N'望京花园', 1, N'皇后大道', N'15号线', 10, CAST(N'2018-07-13T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[T_Communities] ([Id], [Name], [RegionId], [Location], [Traffic], [BuiltYear], [CreateDateTime], [IsDeleted]) VALUES (5, N'西二旗花园', 3, N'西瓜街', N'2号线', 9, CAST(N'2018-07-14T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Communities] OFF
SET IDENTITY_INSERT [dbo].[T_Girls] ON 

INSERT [dbo].[T_Girls] ([Id], [Name], [BF]) VALUES (1, N'lucy', N'bb')
SET IDENTITY_INSERT [dbo].[T_Girls] OFF
SET IDENTITY_INSERT [dbo].[T_HouseAppointments] ON 

INSERT [dbo].[T_HouseAppointments] ([Id], [UserId], [Name], [PhoneNum], [VisitDate], [HouseId], [Status], [FollowAdminUserId], [FollowDateTime], [CreateDateTime], [IsDeleted]) VALUES (1, NULL, N'dalong', N'15771250317', CAST(N'2018-07-23T00:00:00.000' AS DateTime), 10, N'undo', 12, NULL, CAST(N'2018-07-22T12:00:24.877' AS DateTime), 0)
INSERT [dbo].[T_HouseAppointments] ([Id], [UserId], [Name], [PhoneNum], [VisitDate], [HouseId], [Status], [FollowAdminUserId], [FollowDateTime], [CreateDateTime], [IsDeleted]) VALUES (2, NULL, N'dalong', N'15712345678', CAST(N'2018-07-23T00:00:00.000' AS DateTime), 4, N'undo', NULL, NULL, CAST(N'2018-07-22T12:34:37.673' AS DateTime), 0)
INSERT [dbo].[T_HouseAppointments] ([Id], [UserId], [Name], [PhoneNum], [VisitDate], [HouseId], [Status], [FollowAdminUserId], [FollowDateTime], [CreateDateTime], [IsDeleted]) VALUES (3, NULL, N'xx', N'15712345678', CAST(N'2018-07-24T00:00:00.000' AS DateTime), 5, N'undo', NULL, NULL, CAST(N'2018-07-22T12:46:49.537' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_HouseAppointments] OFF
INSERT [dbo].[T_HouseAttachments] ([AttachmentId], [HouseId]) VALUES (1, 4)
INSERT [dbo].[T_HouseAttachments] ([AttachmentId], [HouseId]) VALUES (2, 4)
INSERT [dbo].[T_HouseAttachments] ([AttachmentId], [HouseId]) VALUES (1, 5)
SET IDENTITY_INSERT [dbo].[T_HousePics] ON 

INSERT [dbo].[T_HousePics] ([Id], [HouseId], [Url], [ThumbUrl], [CreateDateTime], [IsDeleted]) VALUES (2, 10, N'/upload/2018/07/14/E0CE8D85731FF261DA7BF12879FF311B.jpg', N'/upload/2018/07/14/E0CE8D85731FF261DA7BF12879FF311B_thumb.jpg', CAST(N'2018-07-14T22:52:31.523' AS DateTime), 0)
INSERT [dbo].[T_HousePics] ([Id], [HouseId], [Url], [ThumbUrl], [CreateDateTime], [IsDeleted]) VALUES (3, 10, N'/upload/2018/07/14/4128DD098D6E2CAA9F8306590F43C0CF.png', N'/upload/2018/07/14/4128DD098D6E2CAA9F8306590F43C0CF_thumb.png', CAST(N'2018-07-14T22:53:24.300' AS DateTime), 0)
INSERT [dbo].[T_HousePics] ([Id], [HouseId], [Url], [ThumbUrl], [CreateDateTime], [IsDeleted]) VALUES (4, 18, N'/upload/2018/07/22/64F4F5E251ACAF2387EF6B1DE607C9AF.jpg', N'/upload/2018/07/22/64F4F5E251ACAF2387EF6B1DE607C9AF_thumb.jpg', CAST(N'2018-07-22T21:47:17.987' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_HousePics] OFF
SET IDENTITY_INSERT [dbo].[T_Houses] ON 

INSERT [dbo].[T_Houses] ([Id], [CommunityId], [RoomTypeId], [Address], [MonthRent], [StatusId], [Area], [DecorateStatusId], [TotalFloorCount], [FloorIndex], [TypeId], [Direction], [LookableDateTime], [CheckInDateTime], [OwnerName], [OwnerPhoneNum], [Description], [CreateDateTime], [IsDeleted]) VALUES (4, 1, 7, N'205-203', 3000, 8, CAST(10.00 AS Decimal(18, 2)), 3, 20, 2, 1, N'南', CAST(N'2018-07-12T00:00:00.000' AS DateTime), CAST(N'2018-07-20T00:00:00.000' AS DateTime), N'大龙', N'15771250317', N'非常舒适', CAST(N'2018-07-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[T_Houses] ([Id], [CommunityId], [RoomTypeId], [Address], [MonthRent], [StatusId], [Area], [DecorateStatusId], [TotalFloorCount], [FloorIndex], [TypeId], [Direction], [LookableDateTime], [CheckInDateTime], [OwnerName], [OwnerPhoneNum], [Description], [CreateDateTime], [IsDeleted]) VALUES (5, 5, 5, N'666', 100, 9, CAST(20.00 AS Decimal(18, 2)), 3, 2, 1, 1, N'south', CAST(N'2018-07-21T00:00:00.000' AS DateTime), CAST(N'2018-07-22T00:00:00.000' AS DateTime), N'rabbit', N'15771250317', N'6666', CAST(N'2018-07-14T17:31:17.903' AS DateTime), 0)
INSERT [dbo].[T_Houses] ([Id], [CommunityId], [RoomTypeId], [Address], [MonthRent], [StatusId], [Area], [DecorateStatusId], [TotalFloorCount], [FloorIndex], [TypeId], [Direction], [LookableDateTime], [CheckInDateTime], [OwnerName], [OwnerPhoneNum], [Description], [CreateDateTime], [IsDeleted]) VALUES (6, 1, 5, N'666', 100, 8, CAST(20.00 AS Decimal(18, 2)), 3, 2, 1, 1, N'south', CAST(N'2018-07-21T00:00:00.000' AS DateTime), CAST(N'2018-07-22T00:00:00.000' AS DateTime), N'rabbit', N'15771250317', N'<p>6666</p>', CAST(N'2018-07-14T17:31:31.163' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Houses] OFF
SET IDENTITY_INSERT [dbo].[T_IdNames] ON 

INSERT [dbo].[T_IdNames] ([Id], [TypeName], [Name], [CreateDateTime], [IsDeleted]) VALUES (1, N'房屋类别', N'合租', CAST(N'2018-07-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[T_IdNames] ([Id], [TypeName], [Name], [CreateDateTime], [IsDeleted]) VALUES (2, N'房屋类别', N'整租', CAST(N'2018-07-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[T_IdNames] ([Id], [TypeName], [Name], [CreateDateTime], [IsDeleted]) VALUES (3, N'装修状态', N'普通装修', CAST(N'2018-07-12T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_IdNames] OFF
SET IDENTITY_INSERT [dbo].[T_Permissions] ON 

INSERT [dbo].[T_Permissions] ([Id], [Description], [Name], [CreateDateTime], [IsDeleted]) VALUES (1, N'heihei', N'AdminUser.List', CAST(N'2018-06-15T21:30:02.070' AS DateTime), 0)
INSERT [dbo].[T_Permissions] ([Id], [Description], [Name], [CreateDateTime], [IsDeleted]) VALUES (14, N'col', N'coool', CAST(N'2018-06-18T21:12:39.947' AS DateTime), 0)
INSERT [dbo].[T_Permissions] ([Id], [Description], [Name], [CreateDateTime], [IsDeleted]) VALUES (15, N'111', N'111', CAST(N'2018-06-18T21:33:25.120' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Permissions] OFF
SET IDENTITY_INSERT [dbo].[T_Regions] ON 

INSERT [dbo].[T_Regions] ([Id], [Name], [CityId], [CreateDateTime], [IsDeleted]) VALUES (1, N'朝阳区', 1, CAST(N'2018-06-16T17:39:04.353' AS DateTime), 0)
INSERT [dbo].[T_Regions] ([Id], [Name], [CityId], [CreateDateTime], [IsDeleted]) VALUES (2, N'海港区', 2, CAST(N'2018-06-16T17:40:26.877' AS DateTime), 0)
INSERT [dbo].[T_Regions] ([Id], [Name], [CityId], [CreateDateTime], [IsDeleted]) VALUES (3, N'海淀区', 1, CAST(N'2018-07-13T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Regions] OFF
INSERT [dbo].[T_RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 1)
INSERT [dbo].[T_RolePermissions] ([RoleId], [PermissionId]) VALUES (3, 1)
INSERT [dbo].[T_RolePermissions] ([RoleId], [PermissionId]) VALUES (3, 14)
SET IDENTITY_INSERT [dbo].[T_Roles] ON 

INSERT [dbo].[T_Roles] ([Id], [Name], [CreateDateTime], [IsDeleted]) VALUES (1, N'9efd4214-2910-40fe-84b3-2844c045e961', CAST(N'2018-06-15T21:30:02.290' AS DateTime), 1)
INSERT [dbo].[T_Roles] ([Id], [Name], [CreateDateTime], [IsDeleted]) VALUES (2, N'62baf663-4fad-4467-ae3c-972a1aa1d361', CAST(N'2018-06-15T21:31:00.210' AS DateTime), 1)
INSERT [dbo].[T_Roles] ([Id], [Name], [CreateDateTime], [IsDeleted]) VALUES (3, N'dalong', CAST(N'2018-06-19T21:26:00.703' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Roles] OFF
SET IDENTITY_INSERT [dbo].[T_Settings] ON 

INSERT [dbo].[T_Settings] ([Id], [Name], [Value], [CreateDateTime], [IsDeleted]) VALUES (2, N'如鹏短信平台AppKey', N'65454289d409eef779e808', CAST(N'2018-07-16T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[T_Settings] ([Id], [Name], [Value], [CreateDateTime], [IsDeleted]) VALUES (3, N'如鹏短信平台UserName', N'dalong', CAST(N'2018-07-13T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[T_Settings] ([Id], [Name], [Value], [CreateDateTime], [IsDeleted]) VALUES (4, N'如鹏短信平台注册短信模板Id', N'1124', CAST(N'2018-07-05T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Settings] OFF
SET IDENTITY_INSERT [dbo].[T_Users] ON 

INSERT [dbo].[T_Users] ([Id], [PhoneNum], [PasswordHash], [PasswordSalt], [LoginErrorTimes], [LastLoginErrorDateTime], [CityId], [CreateDateTime], [IsDeleted]) VALUES (1, N'15771250317', N'986D923D709223E7E7B7BDCD5717F47C', N'ksfmt', 0, NULL, NULL, CAST(N'2018-07-16T21:21:02.477' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Users] OFF
/****** Object:  Index [IX_AdminUserId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdminUserId] ON [dbo].[T_AdminLogs]
(
	[AdminUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdminUserId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdminUserId] ON [dbo].[T_AdminUserRoles]
(
	[AdminUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[T_AdminUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[T_AdminUsers]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegionId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_RegionId] ON [dbo].[T_Communities]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FollowAdminUserId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_FollowAdminUserId] ON [dbo].[T_HouseAppointments]
(
	[FollowAdminUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HouseId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_HouseId] ON [dbo].[T_HouseAppointments]
(
	[HouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[T_HouseAppointments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttachmentId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttachmentId] ON [dbo].[T_HouseAttachments]
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HouseId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_HouseId] ON [dbo].[T_HouseAttachments]
(
	[HouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HouseId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_HouseId] ON [dbo].[T_HousePics]
(
	[HouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommunityId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommunityId] ON [dbo].[T_Houses]
(
	[CommunityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DecorateStatusId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_DecorateStatusId] ON [dbo].[T_Houses]
(
	[DecorateStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomTypeId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoomTypeId] ON [dbo].[T_Houses]
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_StatusId] ON [dbo].[T_Houses]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_TypeId] ON [dbo].[T_Houses]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[T_Regions]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PermissionId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_PermissionId] ON [dbo].[T_RolePermissions]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[T_RolePermissions]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 9/30/2018 4:56:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[T_Users]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_AdminLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_AdminLogs_dbo.T_AdminUsers_AdminUserId] FOREIGN KEY([AdminUserId])
REFERENCES [dbo].[T_AdminUsers] ([Id])
GO
ALTER TABLE [dbo].[T_AdminLogs] CHECK CONSTRAINT [FK_dbo.T_AdminLogs_dbo.T_AdminUsers_AdminUserId]
GO
ALTER TABLE [dbo].[T_AdminUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_AdminUserRoles_dbo.T_AdminUsers_AdminUserId] FOREIGN KEY([AdminUserId])
REFERENCES [dbo].[T_AdminUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_AdminUserRoles] CHECK CONSTRAINT [FK_dbo.T_AdminUserRoles_dbo.T_AdminUsers_AdminUserId]
GO
ALTER TABLE [dbo].[T_AdminUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_AdminUserRoles_dbo.T_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[T_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_AdminUserRoles] CHECK CONSTRAINT [FK_dbo.T_AdminUserRoles_dbo.T_Roles_RoleId]
GO
ALTER TABLE [dbo].[T_AdminUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_AdminUsers_dbo.T_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[T_Cities] ([Id])
GO
ALTER TABLE [dbo].[T_AdminUsers] CHECK CONSTRAINT [FK_dbo.T_AdminUsers_dbo.T_Cities_CityId]
GO
ALTER TABLE [dbo].[T_Communities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Communities_dbo.T_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[T_Regions] ([Id])
GO
ALTER TABLE [dbo].[T_Communities] CHECK CONSTRAINT [FK_dbo.T_Communities_dbo.T_Regions_RegionId]
GO
ALTER TABLE [dbo].[T_HouseAppointments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_HouseAppointments_dbo.T_AdminUsers_FollowAdminUserId] FOREIGN KEY([FollowAdminUserId])
REFERENCES [dbo].[T_AdminUsers] ([Id])
GO
ALTER TABLE [dbo].[T_HouseAppointments] CHECK CONSTRAINT [FK_dbo.T_HouseAppointments_dbo.T_AdminUsers_FollowAdminUserId]
GO
ALTER TABLE [dbo].[T_HouseAppointments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_HouseAppointments_dbo.T_Houses_HouseId] FOREIGN KEY([HouseId])
REFERENCES [dbo].[T_Houses] ([Id])
GO
ALTER TABLE [dbo].[T_HouseAppointments] CHECK CONSTRAINT [FK_dbo.T_HouseAppointments_dbo.T_Houses_HouseId]
GO
ALTER TABLE [dbo].[T_HouseAppointments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_HouseAppointments_dbo.T_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[T_Users] ([Id])
GO
ALTER TABLE [dbo].[T_HouseAppointments] CHECK CONSTRAINT [FK_dbo.T_HouseAppointments_dbo.T_Users_UserId]
GO
ALTER TABLE [dbo].[T_HouseAttachments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_HouseAttachments_dbo.T_Attachments_AttachmentId] FOREIGN KEY([AttachmentId])
REFERENCES [dbo].[T_Attachments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_HouseAttachments] CHECK CONSTRAINT [FK_dbo.T_HouseAttachments_dbo.T_Attachments_AttachmentId]
GO
ALTER TABLE [dbo].[T_HouseAttachments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_HouseAttachments_dbo.T_Houses_HouseId] FOREIGN KEY([HouseId])
REFERENCES [dbo].[T_Houses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_HouseAttachments] CHECK CONSTRAINT [FK_dbo.T_HouseAttachments_dbo.T_Houses_HouseId]
GO
ALTER TABLE [dbo].[T_HousePics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_HousePics_dbo.T_Houses_HouseId] FOREIGN KEY([HouseId])
REFERENCES [dbo].[T_Houses] ([Id])
GO
ALTER TABLE [dbo].[T_HousePics] CHECK CONSTRAINT [FK_dbo.T_HousePics_dbo.T_Houses_HouseId]
GO
ALTER TABLE [dbo].[T_Houses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Houses_dbo.T_Communities_CommunityId] FOREIGN KEY([CommunityId])
REFERENCES [dbo].[T_Communities] ([Id])
GO
ALTER TABLE [dbo].[T_Houses] CHECK CONSTRAINT [FK_dbo.T_Houses_dbo.T_Communities_CommunityId]
GO
ALTER TABLE [dbo].[T_Houses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Houses_dbo.T_IdNames_DecorateStatusId] FOREIGN KEY([DecorateStatusId])
REFERENCES [dbo].[T_IdNames] ([Id])
GO
ALTER TABLE [dbo].[T_Houses] CHECK CONSTRAINT [FK_dbo.T_Houses_dbo.T_IdNames_DecorateStatusId]
GO
ALTER TABLE [dbo].[T_Houses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Houses_dbo.T_IdNames_RoomTypeId] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[T_IdNames] ([Id])
GO
ALTER TABLE [dbo].[T_Houses] CHECK CONSTRAINT [FK_dbo.T_Houses_dbo.T_IdNames_RoomTypeId]
GO
ALTER TABLE [dbo].[T_Houses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Houses_dbo.T_IdNames_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[T_IdNames] ([Id])
GO
ALTER TABLE [dbo].[T_Houses] CHECK CONSTRAINT [FK_dbo.T_Houses_dbo.T_IdNames_StatusId]
GO
ALTER TABLE [dbo].[T_Houses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Houses_dbo.T_IdNames_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[T_IdNames] ([Id])
GO
ALTER TABLE [dbo].[T_Houses] CHECK CONSTRAINT [FK_dbo.T_Houses_dbo.T_IdNames_TypeId]
GO
ALTER TABLE [dbo].[T_Regions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Regions_dbo.T_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[T_Cities] ([Id])
GO
ALTER TABLE [dbo].[T_Regions] CHECK CONSTRAINT [FK_dbo.T_Regions_dbo.T_Cities_CityId]
GO
ALTER TABLE [dbo].[T_RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_RolePermissions_dbo.T_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[T_Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_RolePermissions] CHECK CONSTRAINT [FK_dbo.T_RolePermissions_dbo.T_Permissions_PermissionId]
GO
ALTER TABLE [dbo].[T_RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_RolePermissions_dbo.T_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[T_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_RolePermissions] CHECK CONSTRAINT [FK_dbo.T_RolePermissions_dbo.T_Roles_RoleId]
GO
ALTER TABLE [dbo].[T_Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Users_dbo.T_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[T_Cities] ([Id])
GO
ALTER TABLE [dbo].[T_Users] CHECK CONSTRAINT [FK_dbo.T_Users_dbo.T_Cities_CityId]
GO
USE [master]
GO
